<?php
declare(strict_types=1);

return [
    'yandexStorage' => [
        'version' => 'latest',
        'endpoint' => 'https://storage.yandexcloud.net',
        'region' => 'ru-central1',
        'credentials' => [
            'key' => '', // Идентификатор клиента
            'secret' => '', // Секретный ключ
        ],
    ],
];
